<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Mail</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isSendMail}}
      <li class="active"><a href="/sendMail">Create</a></li>
      {{else}}
      <li><a href="/sendMail">Write mail</a></li>
      {{/if}}
      <li><a href="/logOut">Log Out</a></li>
      <li><a href="/ftp">FTP</a></li>
      <li><a href="/imageBoard">Download image</a></li>
    </ul>
  </div>
</nav>