<h2>Your mailer</h2>

{{#if mails.length}}
<ul>
  {{#each mails}}
  <li class="todo">
    <form action="/openMail" method="POST">
      <span>{{subject}}</span>
      <input type="hidden" value="{{_id}}" name="id">

      <button class="btn btn-small" type="submit">Open</button>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No mails</p>
{{/if}}