<form action="/sendMail" method="POST">
  <h2>Send Mail</h2>

  <div class="input-field">
    <input type="text" name="reciever">
    <input type="text" name="subject">
    <input type="text" name="body">
  </div>

  <button type="submit" class="btn">Send</button>
</form>