<form action="/signUp" method="POST">
  <h2>Sign Up</h2>

  <div class="input-field">
    {{#if err}}
      <input type="text" name="email" placeholder="{{err}}" class="errorInp">
      <input type="password" name="password" placeholder="{{err}}" class="errorInp"> 
    {{else}}
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="password">
    {{/if}}
  </div>

  <button type="submit" class="btn">Sign Up</button>
</form>