<form action="/signIn" method="POST">
  <h2>Sign In</h2>

  <div class="input-field">
    {{#if signErr}}
      <input type="text" name="email" placeholder="{{signErr}}" class="errorInp">
      <input type="password" name="password" placeholder="{{signErr}}" class="errorInp"> 
    {{else}}
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="password">
    {{/if}}
  </div>
  <button type="submit" class="btn">Sign In</button>
  <a href="/signUp">Sign Up</a>
</form>